.white{
	color:white !important;
}
.white_back{
	background-color: rgba(255, 255, 255, 0.55);
	color:#333;
}


/* IMAGES */
#logo_thales{
	display:none;
    height: 50px;
    margin-left: 15px;
	margin-top: 10px;
}
#logo_cesi{
	height: 50px;
	margin-top: 10px;
}

#search{
	display: none;
}

/* SLIDE 1 */

.sub_title_white{
    background-color: rgba(255, 255, 255, 0.77);
    margin-left: 10%;
    margin-right: 10%;
}
.sub_title_border{
    border: 1px solid black !important;
    margin-left: 10%;
    margin-right: 10%;
}

.margin_top{
	margin-top: 80px !important;
}
.first_page_cesi{
	height: 150px !important;
	background: rgba(255, 255, 255, 0.56) !important;
}

/* SLIDE THALES GROUPE */
.dispatchWords p{
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	padding: 3px;
}

p.defense{
	left : 100px !important;
	top: 350px !important;
}
p.space{
	top: 200px !important;
	left : 293px !important;
}
p.secu, p.aero{
	top: 180px !important;
}
p.aero{
	left: 785px !important;
}
p.terre{
	top: 400px !important;
	left : 430px !important;
}
p.act{
    top: 300px !important;
    left: 670px !important;
}

/* SLIDE TUS TAS */
.tsa_tus img{
	border: none !important;
	box-shadow: none !important;
	position: absolute !important;	
	background: transparent !important;
}

.tsa{
    top: -15px !important;
    left: 45px !important;
    margin-top: 0 !important;
    height: 300px !important;
}

.tus{
    height: 245px !important;
    top: 0 !important;
}

.white_back{
	text-align: center;
}

/* ACTEURS */
.sap{
    height: 170px;
    border: none !important;
    background: transparent !important;
}

/* SLIDE RESULTATS */

.resultList{
	list-style: none;
}
.rec_import{
	position: absolute;
    top: 344px;
    left: 259px;
    height: 290px;
    border-width: 3px !important;
}


/* SLIDE SCHEMA */
.fixeSection img{
    position: fixed;
    top: 78px;
    left: 162px;
    border: none !important;
    box-shadow: none !important
    background: transparent !important;
    background-color: transparent !important;
}	
.fixeTitle{
	position: fixed;
    top: 45px;
    left: 360px;
}	

.archi{
	top: 20px !important;
}

.fixeSection img.fragment.visible:not(.current-fragment){
	display: none !important;
} 
.reveal section img{
	box-shadow: none !important;
}

/* SLIDE SCRUM */
.scrum_schema{
	position: fixed !important;
	top: 125px !important;
	left: 0px !important;
	background: transparent !important;
	border: none !important;
}


/* SLIDE JIRA */
.jira_img{
	top: 20px !important;
	left: 60px !important;
	height: 601px !important;
}

/* VERSION 2.0 */

.rec_2_0 img{
    position: absolute !important;
	top: -25px !important;
    height: 515px !important;
    left: -85px !important;
}

.fol_admin{
    top: 30px !important;
    left: 130px !important;
    height: 580px !important;
}

/* CE QUI A MANQUE */
.web_img img{
	position: absolute !important;
	height: 450px !important;
	left: 335px;
	border: none !important;
	background: transparent !important;
}
/* SLIDE BILAN PRO */
.xp_pro{
	padding-top: 70px;
}
.xp_pro .item .icon{
	font-size: 60px;
}

.xp_pro .item.cubes, .xp_pro .item.ext, .xp_pro .item.code{
	padding-left: 15px;
}
.xp_pro .item.book{
	padding-left: 20px;
}

/* SLIDE BILAN PRO */
.apside{
	background: transparent !important;
	border: none !important;
	height: 80px;
}