.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
/img/screens
/img/jira_stories.png
/img/jira_stories_2.png
/img/jira_stories_3.png
/img/jira_stories_4.png
/img/schema
